admin-email = {{ spacewalk_admin_email }}
ssl-set-org = {{ spacewalk_ssl_org }}
ssl-set-org-unit = {{ spacewalk_ssl_org_unit }}
ssl-set-city = {{ spacewalk_ssl_city }}
ssl-set-state = {{ spacewalk_ssl_state }}
ssl-set-country = {{ spacewalk_ssl_country }}
ssl-password = {{ spacewalk_ssl_password }}
ssl-set-email = {{ spacewalk_ssl_email }}
ssl-config-sslvhost = {{ spacewalk_ssl_sslvhost }}
db-backend=postgresql
db-name=spacewalk
db-user=spacewalk
db-password={{ spacewalk_db_password }}
db-host=localhost
db-port=5432
enable-tftp=Y
