[Unit]
Description=PostgreSQL v{{ postgresql_version }} database server
After=network.target

[Service]
Type=forking
TimeoutSec=120
User=postgres
Group=postgres

Environment=PGROOT={{ postgresql_dir_suse }}
Environment=PGLOG=/var/log/postgresql.log

SyslogIdentifier=postgres
PIDFile={{ postgresql_dir_suse }}/postmaster.pid

ExecStart= /usr/bin/pg_ctl -s -D ${PGROOT} start -w -t 120
ExecReload=/usr/bin/pg_ctl -s -D ${PGROOT} reload
ExecStop=  /usr/bin/pg_ctl -s -D ${PGROOT} stop -m fast

[Install]
WantedBy=multi-user.target
