[Unit]
Description=App Rewards Service
After=syslog.target
After=network.target

[Service]
User={{ app_allc_user }}
ExecStart={{ java8_install_latest }}/bin/java -jar {{ app_allc_jar }}

[Install]
WantedBy=multi-user.target
