[Desktop Entry]
Encoding=UTF-8
Name=Sublime Text 2
Comment=Sublime Text 2
Exec=sublime
Icon={{ sublime_install_dir }}/Icon/32x32/sublime_text.png
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
