[Desktop Entry]
Encoding=UTF-8
Name=Eclipse IDE
Comment=eclipse IDEA IDE
Exec=eclipse
Icon={{ eclipse_install_dir }}/eclipse/icon.xpm
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
