Host dorailsjscheel
  Hostname 104.131.156.111
  User jscheel

Host dorailsdeploy
  Hostname 104.131.156.111
  User deploy

Host dev_jenkins
  Hostname dev-jenkins.homenet
  User jscheel

Host dev_artifactory
  Hostname dev-artifactory.homenet
  User jscheel

Host dev_apps01
  Hostname dev-apps01.homenet
  User jscheel

Host htpc
  Hostname htpc.homenet
  User htpc

Host pod
  Hostname pod.homenet
  User jscheel

Host serenity
  Hostname serenity.homenet
  User jscheel

Host prod_apps01
  Hostname apps01.cloudnet
  User jscheel
