Host jenkins
  Hostname joshuascheel.com
  User jscheel

Host htpc
  Hostname htpc.homenet
  User htpc

Host pod
  Hostname pod.homenet
  User jscheel

Host serenity
  Hostname serenity.homenet
  User jscheel

Host berry
  Hostname berry.homenet
  User jscheel
