[Desktop Entry]
Encoding=UTF-8
Name=Pycharm IDE
Comment=Pycharm IDE
Exec=pycharm
Icon={{ pycharm_install_dir }}/bin/pycharm.png
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
