[Desktop Entry]
Encoding=UTF-8
Name=Android Studio
Comment=Android Studio
Exec=androidstudio
Icon={{ androidstudio_install_dir }}/bin/studio.png
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
