[Desktop Entry]
Encoding=UTF-8
Name=Netbeans IDE
Comment=Netbeans IDE
Exec=netbeans
Icon={{ netbeans_install_dir }}/nb/netbeans.png
Terminal=false
Type=Application
Categories=Application;Development;
StartupNotify=true
